n8n-mcp-main/pointer-campanhas-workflows/workflows/01-campaign-dispatch-router.json
{
  "name": "Pointer - 01 Campaign Dispatch Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pointer/campaign-dispatch",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-campaign-dispatch",
      "name": "Webhook Campaign Dispatch",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-900, 0]
    },
    {
      "parameters": {
        "jsCode": "const secret = '__POINTER_N8N_WEBHOOK_SECRET__';\nconst auth = $json.headers?.authorization || $json.headers?.Authorization || '';\nif (secret && auth !== `Bearer ${secret}`) throw new Error('Unauthorized');\nconst body = $json.body || $json;\nif (!body.campaign?.id || !body.organizationId) throw new Error('campaign/organization ausentes');\nif (!Array.isArray(body.contacts)) throw new Error('contacts ausente');\nreturn [{ json: body }];"
      },
      "id": "auth-guard",
      "name": "Auth Guard",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-660, 0]
    },
    {
      "parameters": {
        "jsCode": "const body = $json;\nconst campaign = body.campaign;\nconst contacts = body.contacts || [];\nconst instances = (body.uazapiInstances || []).slice(0, 5);\nif (campaign.dispatchChannel === 'uazapi' && instances.length === 0) throw new Error('Nenhuma instancia Uazapi ativa no payload');\nconst minDelay = Number(body.minDelaySeconds || campaign.minDelaySeconds || 90);\nconst maxDelay = Number(body.maxDelaySeconds || campaign.maxDelaySeconds || 240);\nlet accumulatedDelay = 0;\nreturn contacts.map((contact, index) => {\n  const delay = Math.floor(minDelay + Math.random() * Math.max(1, maxDelay - minDelay));\n  accumulatedDelay += delay;\n  const instance = instances.length ? instances[index % instances.length] : null;\n  return { json: { body, campaign, contact, instance, meta: body.meta || {}, delaySeconds: accumulatedDelay } };\n});"
      },
      "id": "build-dispatch-items",
      "name": "Build Dispatch Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-420, 0]
    },
    {
      "parameters": {
        "amount": "={{$json.delaySeconds}}",
        "unit": "seconds"
      },
      "id": "humanized-wait",
      "name": "Humanized Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [-180, 0],
      "webhookId": "pointer-campaign-wait"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.campaign.dispatchChannel}}",
              "operation": "equals",
              "value2": "meta"
            }
          ]
        }
      },
      "id": "is-meta",
      "name": "Is Meta?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [60, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/{{$json.meta.phoneNumberId || $json.campaign.metaPhoneNumberId}}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{$json.meta.accessToken}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"messaging_product\":\"whatsapp\",\"to\":$json.contact.phone,\"type\":\"template\",\"template\":{\"name\":$json.campaign.metaTemplateName,\"language\":{\"code\":$json.campaign.metaTemplateLanguage || 'pt_BR'},\"components\":$json.contact.components || []}}",
        "options": {}
      },
      "id": "send-meta-template",
      "name": "Send Meta Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [340, -120]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.instance.baseUrl.replace(/\\/$/, '')}}/send-message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{$json.instance.token}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { phone: $json.contact.phone, message: String($json.campaign.initialMessage || 'Olá, {{nome}}. Obrigado por responder. Como posso te ajudar?').replace(/{{\\s*nome\\s*}}/g, $json.contact.name || '').replace(/{{\\s*name\\s*}}/g, $json.contact.name || '') } }}",
        "options": {}
      },
      "id": "send-uazapi-message",
      "name": "Send Uazapi Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [340, 120]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\":true,\"accepted\":$('Build Dispatch Items').all().length}"
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [620, 0]
    }
  ],
  "connections": {
    "Webhook Campaign Dispatch": { "main": [[{ "node": "Auth Guard", "type": "main", "index": 0 }]] },
    "Auth Guard": { "main": [[{ "node": "Build Dispatch Items", "type": "main", "index": 0 }]] },
    "Build Dispatch Items": { "main": [[{ "node": "Humanized Wait", "type": "main", "index": 0 }]] },
    "Humanized Wait": { "main": [[{ "node": "Is Meta?", "type": "main", "index": 0 }]] },
    "Is Meta?": { "main": [[{ "node": "Send Meta Template", "type": "main", "index": 0 }], [{ "node": "Send Uazapi Message", "type": "main", "index": 0 }]] },
    "Send Meta Template": { "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]] },
    "Send Uazapi Message": { "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "saveExecutionProgress": true },
  "active": false
}
