n8n-mcp-main/pointer-campanhas-workflows/workflows/02-meta-inbound-lead-agent.json
{
  "name": "Pointer - 02 Meta Inbound Lead Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pointer/meta-inbound",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-meta-inbound",
      "name": "Webhook Meta Inbound",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-720, 0]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst value = body.entry?.[0]?.changes?.[0]?.value || body.value || body;\nconst message = value.messages?.[0];\nif (!message) {\n  return [{ json: { channel: 'meta', ignored: true, reason: 'no_inbound_message', payload: body } }];\n}\nconst text = message.text?.body || message.button?.text || message.interactive?.button_reply?.title || message.interactive?.list_reply?.title || message.image?.caption || message.document?.caption || message.audio?.caption || '';\nconst contactName = value.contacts?.[0]?.profile?.name || null;\nreturn [{ json: { channel: 'meta', phone: message.from, text, contactName, externalMessageId: message.id, payload: body } }];"
      },
      "id": "normalize-meta-inbound",
      "name": "Normalize Meta Inbound",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-500, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "__N8N_PUBLIC_WEBHOOK_BASE__/webhook/pointer/lead-ai-brain",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json}}",
        "options": {}
      },
      "id": "forward-to-app-meta",
      "name": "Forward To Lead AI Brain",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-260, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "id": "respond-meta-ok",
      "name": "Respond Meta OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [-220, 0]
    }
  ],
  "connections": {
    "Webhook Meta Inbound": { "main": [[{ "node": "Normalize Meta Inbound", "type": "main", "index": 0 }]] },
    "Normalize Meta Inbound": { "main": [[{ "node": "Forward To Lead AI Brain", "type": "main", "index": 0 }]] },
    "Forward To Lead AI Brain": { "main": [[{ "node": "Respond Meta OK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "saveExecutionProgress": true },
  "active": false
}
